<div class="col-md-6 lists-list">
    <h1 class="title--first list-title">@todo</h1>

    <div class="body">
        <ul class="lists-list js-list js-todo-list-connected-1"></ul>

        <a href="#"
           class="js-add-lists-item">
            <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
<div class="col-md-6 lists-list">
    <h1 class="title--first list-title">@todo</h1>

    <div class="body">
        <ul class="lists-list js-list js-todo-list-connected-1"></ul>

        <a href="#"
           class="js-add-lists-item">
            <span class="glyphicon glyphicon-plus"></span></a>
    </div>
</div>
