.todo-list {
    padding-left: 0;
    list-style: none;
    min-height: 20px; /* for javascript drop on empty list */

    label {
        cursor: pointer;
        font-weight: normal;
    }
}

.todo-list-item-placeholder {
    border: 1px dashed #aaa;
    display: block;
    height: 20px;
}

.todo-list-item {
    &.is-checked {
        label {
            color: #aaa;
            text-decoration: line-through;
        }
    }

    .todo-list-item-remove-link {
        display: none;
    }

    .todo-list-item-drag-handle {
        display: none;
    }

    &:hover {
        .todo-list-item-remove-link,
        .todo-list-item-drag-handle {
            display: inline-block;
            color: #999;
        }
    }
}
